body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#model {
    display: flex;
}

.layer {
    position: relative;
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.layer:hover {
    transform: translateY(-10px);
}

.layer-details {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#embedding {
    background-color: #97C2FC;
}

#conv1d {
    background-color: #FCC267;
}

#maxpooling {
    background-color: #8FB26A;
}

#lstm {
    background-color: #E586B6;
}

#dense {
    background-color: #BAA2CB;
}

.layer-name {
    font-weight: bold;
    margin-bottom: 10px;
}

